<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
     <dict>
	<key>TrustedAuthorities</key>
	<array>
		<string>0200D4D2DB1AA4C1292101143E196CC9481E2CCD2A90FC4CB5ED81271FD308B1</string>
		<string>6264514ADF9B6A1AC69746B00EF25D66CB5FBF261E5704C11E0B9C1CACD16954</string>
		<string>894EBC0B23DA2A50C0186B7F8F25EF1F6B2935AF32A94584EF80AAF877A3A06E</string>
	</array>
         <key>AttributeMapping</key>
         <dict>
             <key>fields</key>
            <array>
                <string>NT Principal Name</string>
             </array>
             <key>formatString</key>
             <string>$1</string>
             <key>dsAttributeString</key>
             <string>dsAttrTypeNative:smartCardIdentity</string>
         </dict>
     </dict>
</plist>
