<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>TrustedAuthorities</key>
        <array>
            <string>5F9AECC24616B2191372600DD80F6DD320C8CA5A0CEB7F09C985EBF0696934FC</string>
            <string>894EBC0B23DA2A50C0186B7F8F25EF1F6B2935AF32A94584EF80AAF877A3A06E</string>
        </array>
        <key>AttributeMapping</key>
        <dict>
            <key>fields</key>
            <array>
                <string>NT Principal Name</string>
            </array>
            <key>formatString</key>
            <string>$1</string>
            <key>dsAttributeString</key>
            <string>dsAttrTypeNative:smartCardIdentity</string>
            <key>NotEnforced</key>
            <string>piv_exempt</string>
        </dict>
    </dict>
</plist>